#!/usr/bin/env bash

# various flavors of ls
alias ll="ls -Alh"
alias lrt="ls -Alhrt"

# Fat fingers
alias alais="alias"
alias got="git"
alias dicker="docker"
alias maven="mvn"
alias vi="subl"
alias cd..="cd .."

# Split a list of arguments into lines
# Usage: echo $A_LONG_LIST_OF_ARGUMENTS | splitargs
alias splitargs="sed 's/ -/\'$'\n-/g'"

# Prety print and colorize json output
# Usage: curl some.url | pj
alias pj="python -m json.tool | pygmentize -l json"

# Cat and colorize file
# Usage: dog [-g] myfile.py
# Lexer is chosen from the file extension. Use '-g' to guess it from the file content instead
# Style list: https://help.farbox.com/pygments.html
alias dog="pygmentize -O style=vim -f terminal256"

# Run stuffs with the `script` command in order to preserve raw output
# (and then color escape code) while piping commands together.
alias pc="script -q /dev/null"

# Shortcuts
alias p4="p4merge"
alias delta="open -a DeltaWalker --args"
alias gup="gitup"
alias spotify="appify https://play.spotify.com"
alias ff="find . -type f -name"
alias up='cd ./$(git rev-parse --show-cdup)'
alias gs="git st"
alias dl='cd ~/Downloads'
alias flush-dns='echo -n "Sudo " && sudo killall -HUP mDNSResponder'

# Manage dotfiles from a bare repository
alias dot='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
